.clockdate-wrapper {
    background-color: #DBA901;
    padding:25px;
    
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:5%;
}
#clock{
    background-color:#888;
    font-family: sans-serif;
    font-size:60px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:22px;
    position:relative;
    top:-27px;
    left:-10px;
}
#fechafutura {
    letter-spacing:10px;
    font-size:25px;
    font-family:arial,sans-serif;
    color:#fff;
}